@page
@model razor_pizzeria.Pages.Checkout.ThankYouModel
@{
}

<div class="text-center">

	<div class="p-4">

		<h1 class="text-success text-capitalize">
			Your order was successfully placed!
		</h1>

		<p class="subtitle">
			Thank you! We're already in the process of making your pizza.
		</p>

	</div>

</div>