html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* global */

.subtitle {
    font-weight: 400;
    letter-spacing: 2px;
}

.image {
    border-radius: 20px;
    margin: 40px;
}

.shadow-pink {
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.3));
}

.link-hidden {
    color: inherit;
    text-decoration: inherit;
    padding: inherit;
}

.link-hidden:hover {
    color: inherit;
}

/* pizza page */

.pizza-container {
    margin: 0;
    background: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
    border-radius: 20px;
}

.pizza-box-desktop {
    height: 440px;
}

@media (min-width: 1200px) {
    .pizza-container {
        min-height: 440px;
    }
    .pizza-box-mobile {
        display: none;
    }
}
@media (max-width: 1199px) {
    .pizza-container {
        min-height: auto;
    }
    .pizza-box-desktop {
        display: none;
    }
}

.pizza-container-text {
    text-align: left;
}

.pizza-subtitle {
    font-weight: 400;
    color: grey;
}