@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="p-4">
        <h1 class="text-danger text-capitalize">El' pizzo - order</h1>
        <p class="subtitle">Hi there! This website will help you order something you will definetely like to try out!</p>
    </div>

    <img class="image shadow-pink" src="~/images/PizzaTime.jpg" />

    <br />

    <a class="btn btn-danger mt-2" asp-area="" asp-page="/Pizza">WTF U TALKIN' ABOUT??!</a>

</div>
