@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-danger text-capitalize">Pizza order service</h1>
    <p>Hi there! This website will help you order something you will definetely like to try out!</p>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-danger mt-2" asp-area="" asp-page="/Checkout/Thank">WTF U TALKIN' ABOUT??!</a>
</div>
